# Godot 4+ specific ignores
.godot/
.vs/

# Use this folder for image editting, exporting, and other tests
image_test/*
!image_test/.gdignore
!image_test/crop
!image_test/crop/*

# python cache
*__pycache__*