# Godot 4+ specific ignores
.godot/
.vs/

# Use this folder for image editting and other tests
ImageTest/

# Asset exporting
AssetExporting/OriginalAssets/
AssetExporting/ffdec-path.txt

# python cache
*__pycache__*